<!DOCTYPE html>
<html>
  <head>
    <title>mN - Holiday Booking</title>
    <meta name="viewport" content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" media='screen'>
    <script src='http://code.jquery.com/jquery.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
     <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <% var logged = false; %>
    <% if(typeof(currentUser) !== "undefined"){ %>
        <% logged = true; %>
    <% } %>
    <div class="container">
        <div class="nav-bar">
            <ul class="links">
                <% if(logged) {%>
                    <li><a href="/bookings/new">New Holiday Request</a></li>
                    <li><a href="/bookings/personal_requests">My Holidays</a></li>
                    <% if(currentUser.admin === true){ %>
                        <li><a href="/bookings/requests">Pending Requests</a></li>           
                        <li><a href="/bookings/history">Request's History</a></li>           
                        <li><a href="/calendar">Calendar</a></li>                
                        <li><a href="/users">Users</a></li>
                    <% } %>            
                    <li><a href="/users/logout">Logout</a></li>
                <% }else{ %>
                    <li><a href="/users/login">Login</a></li>
                <% } %>             
            </ul>
        </div>
        <div class="content">