body { 

}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; 
}

td, th {
  padding: 5px 10px;
  border: 1px solid;
  text-align: center;
}

.nav-bar {
    width: 17%;
    float: left;
    padding: 20px;
}

.nav-bar li {
    margin-bottom: 10px;
}

.content {
  float: left;
  width: 83%;
}
/*.calendar-page {
   h2 {
     color: #aa2222;
   }
 }*/
.date-input {
  span {
    margin-left: 15px;
  }
}
.date-input--day {
  font-size: 2em;
  font-weight: bold;
  color: #aa2222
}
.pending, .rejected, .accepted{
  text-transform: capitalize;
  font-weight: bold;
}
.rejected {
  a {
    color: #900e0e;
    cursor: pointer;
    text-decoration: underline;
  }
  span{
    color: #900e0e;
  }
}
.accepted {
  span {
    color: #00bd23;
  }
}
.pending {
  span {
    color: #8a8a8a  
  }
}

.tooltips {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #777777;

    .tooltiptext {
      visibility: hidden;
      width: 150px;
      background-color: #951a1a;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      right: -5px;
    }
}

.tooltips:hover {
  .tooltiptext {
    visibility: visible;
  }
}

.form-approval{
  float: left;
  padding: 0 0 0 5px;
}

.btn-approve, .btn-reject{
  width: 70px;
  color: #FFFFFF;
  border: 0;
}
.btn-approve{
  background-color: #00BD23;
}
.btn-reject{
  background-color: #951A1A;
}














